
/********** Base styles **********/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#hed{
  text-align: center;
}

h1 {
  margin-bottom: 15px;
}

#pc1 {
   border: 1px solid black;
  background-color: #A52A2A;
  width: 90%;
  height: 150px;
  margin-right: auto;
  margin-left: auto;
  font-family: Helvetica;
  color: white;
  position: absolute;
}

.p1 {
  
  background-color: #FFC0CB;
  text-align: center;
  position: absolute;
  top:0;
  right:0;
   margin-right: auto;
  margin-left: auto;
  height: 30px;
  width: 80px;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  
}

.p2 {
  
  background-color: #FF0000;
  text-align: center;
  position: absolute;
  top:0;
  right:0;
  height: 30px;
  width: 80px;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
}

.p3 {
  
  background-color: #FFFF00;
  text-align: center;
  position: absolute;
  top:0;
  right:0;
  height: 30px;
  width: 80px;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  
}

/* Simple Responsive Framework. */
.row {
  width: 100%;
  padding: 5px;
}

div#test {
  
  position: relative;
  top: 40px;
  
 
  padding: 5px;

}

div#par{
  position: relative;
  background-color: #D3D3D3;
  height: 130px;
  border: 1px solid black;
}

div#ch{
  position: relative;
  top: 33px;
  left: 5px;
  margin-right: 5px;

}
